<!DOCTYPE html>
<html lang="en">
    <head>
        <title>List</title>
    </head>
    <body>
        <% mang.forEach(e => { %>
            <div>   
                <p><%= e %></p>
            </div>
        <% }); %>
    </body>
</html>