<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/xuly" method="POST">
            <input type="text" name="txtUsername" placeholder="username">
            <br><br>
            <input type="password" name="txtPassword" placeholder="password">
            <br><br>
            <button>Submit</button>
        </form>
    </body>
</html>